.home-function {
  position: relative;
  width: 100%;
  height: 100vh;
  // background-color: $bg-color-2;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.function-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .function-desc-box {
    max-width: 33%;
    padding: 0 30px;

    h1 {
      font-family: $Fredoka-font;
      font-size: 2rem;
      color: $main-color-7;
    }

    h2 {
      font-family: $Jua-font;
      color: rgb(46, 46, 46);
      font-size: 3rem;
    }

    p {
      font-family: $Jua-font;
      font-size: 1.4rem;
      // color: $main-color-7;
      color: rgb(145, 145, 145);
    }
  }

  .function-item {
    width: 32%;
    opacity: 0;

    &.show {
      opacity: 1;
      animation: slide 1.2s;
    }

    .function-img {
      width: 100%;
      border-radius: 50px;
    }

    .function-item-desc {
      font-family: "Fredoka One", cursive;
      text-align: center;
      color: $main-color-9;
      font-size: 1.5rem;
    }
  }
}

//반응형
/* 0 ~ 1400 : 데스크탑2  */
@media screen and (max-width: 1400px) {
  .function-items {
    .function-desc-box {
      max-width: 35%;

      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .function-item {
      width: 40%;
    }
  }
}

/* 0 ~ 960 : 테블릿1  */
@media screen and (max-width: 1100px) {
  .function-items {
    .function-desc-box {
      max-width: 40%;

      h1 {
        font-size: 1.7rem;
      }

      h2 {
        font-size: 2.2rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .function-item {
      width: 40%;
    }
  }
}

/* 0 ~ 768px : 테블릿2 */
@media screen and (max-width: 860px) {
  .function-items {
    flex-direction: column;

    .function-desc-box {
      max-width: 60%;
      margin-bottom: 30px;
      padding: 0;
      h1 {
        font-size: 1.7rem;
        text-align: center;
      }

      h2 {
        font-size: 2.2rem;
        text-align: center;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .function-item {
      width: 60%;
    }
  }
}

/* 0 ~ 670px : 테블릿3 */
@media screen and (max-width: 670px) {
  .function-items {
    .function-desc-box {
      max-width: 67%;
      h1 {
        font-size: 1.5rem;
      }

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.1rem;
      }
    }

    .function-item {
      width: 70%;
    }
  }
}

@media screen and (max-width: 500px) {
  .function-items {
    .function-desc-box {
      max-width: 65%;
      h1 {
        font-size: 1.2rem;
      }

      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

//애니메이션
@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
