.home-notice {
  width: 100%;
  padding: 150px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}

.backgorund-container {
  width: 60%;
  margin: 0 auto;

  .background-monitor {
    width: 100%;
    height: 100%;
  }
}
.slide-notice-container {
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    text-align: center;
    font-family: $Fredoka-font;
    font-size: 4rem;
    margin: 40px 0 40px 0;
    color: #4f3119;
  }

  p {
    font-size: 3rem;
    font-family: $Jua-font;
    color: #d68339;
  }
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chat1-img {
  position: relative;
  width: 800px;
  left: -100px;
  transform: translateY(-12%);
  opacity: 0;
  animation: slideQnA 7s linear infinite;
}

.chat2-img {
  position: relative;
  left: 100px;
  width: 800px;
  transform: translateY(-12%);
  opacity: 0;
  animation: slideQnA 7s 0.7s linear infinite;
}

@media screen and (max-width: 1050px) {
  .chat1-img {
    width: 700px;
    left: -80px;
  }

  .chat2-img {
    left: 80px;
    width: 700px;
  }
}

@media screen and (max-width: 900px) {
  .chat1-img {
    width: 600px;
    left: -60px;
  }

  .chat2-img {
    width: 600px;
    left: 60px;
  }
}

@media screen and (max-width: 760px) {
  .chat1-img {
    width: 500px;
    left: -40px;
  }

  .chat2-img {
    width: 500px;
    left: 40px;
  }

  .slide-notice-container {
    h1 {
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .chat1-img {
    width: 400px;
    left: -40px;
  }

  .chat2-img {
    width: 400px;
    left: 40px;
  }
}

@media screen and (max-width: 500px) {
  .chat1-img {
    width: 300px;
    left: -30px;
  }

  .chat2-img {
    width: 300px;
    left: 30px;
  }

  .slide-notice-container {
    h1 {
      font-size: 2.5rem;
    }
  }
}
@media screen and (max-width: 400px) {
  .chat1-img {
    width: 250px;
    left: -20px;
  }

  .chat2-img {
    width: 250px;
    left: 20px;
  }
}

@keyframes slideQnA {
  0% {
    transform: translateY(-12%);
    opacity: 0;
  }

  5% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(-12%);
    opacity: 0;
  }
}
