.home-notice {
  width: 100%;
  height: 800px;
  padding: 50px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color-2;
  // border-top: 2px solid $bg-color-2;
}

.slide-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 100px 0 100px;

  .slide-in-img {
    position: absolute;
    left: 7%;
    bottom: 2%;
    width: 350px;
    height: 400px;
    opacity: 0.6;
  }
}

.slide-notice-container {
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  h1 {
    text-align: left;
    font-family: $Fredoka-font;
    font-size: 4rem;
    margin: 50px 0 40px 0;
    color: #4f3119;
  }

  p {
    font-size: 3rem;
    font-family: $Jua-font;
    color: #d68339;
  }
}

/* 0 ~ 1550 : 데스크탑1  */
@media screen and (max-width: 1550px) {
  .notice-box {
    left: 16%;

    h1 {
      font-size: 3rem;
    }
  }

  .notice-slide {
    .notice-image {
      width: 700px;
      height: 600px;
    }
  }
  .right-arrow {
    right: 150px;
  }

  .left-arrow {
    left: 150px;
  }
}

/* 0 ~ 1220 : 데스크탑2  */
@media screen and (max-width: 1220px) {
  .notice-box {
    left: 12%;
    width: 250px;
    height: 250px;

    h1 {
      font-size: 2.8rem;
      padding-left: 10px;
    }
  }

  .notice-slide {
    .notice-image {
      width: 680px;
      height: 580px;
    }
  }

  .right-arrow {
    right: 30px;
  }

  .left-arrow {
    left: 30px;
  }
}

/* 0 ~ 960 : 테블릿1  */
@media screen and (max-width: 960px) {
  .home-notice {
    flex-direction: column;
  }

  .notice-box {
    left: 5%;
  }

  .notice-slide {
    .notice-image {
      width: 650px;
      height: 550px;
    }
  }

  .slide-btns {
    flex-direction: row;

    .slide-btn {
      margin: 20px 10px 0 10px;
    }
  }
}

/* 0 ~ 768px : 테블릿2 */
@media screen and (max-width: 768px) {
  .notice-box {
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    border-radius: 0;
    padding-left: 0;
    justify-content: center;

    .notice-title {
      font-size: 4rem;
    }
  }

  .notice-slide {
    .notice-image {
      width: 550px;
      height: 480px;
    }
  }

  .right-arrow {
    right: 20px;
    font-size: 3.5rem;
  }

  .left-arrow {
    left: 20px;
    font-size: 3.5rem;
  }
}

/* 0 ~ 670px : 테블릿2 */
@media screen and (max-width: 670px) {
  .notice-slide {
    .notice-image {
      width: 450px;
      height: 380px;
    }
  }

  .right-arrow {
    right: 10px;
    font-size: 2.7rem;
  }

  .left-arrow {
    left: 10px;
    font-size: 2.7rem;
  }

  .slide-btns {
    .slide-btn {
      width: 10px;
      height: 10px;
    }
  }
}

/* 0 ~ 480px : 모바일1 */
@media screen and (max-width: 480px) {
  .home-notice {
    padding-top: 50px;
  }

  .notice-slide {
    .notice-image {
      width: 330px;
      height: 300px;
    }
  }

  .right-arrow {
    top: 78%;
    font-size: 2.2rem;
  }

  .left-arrow {
    top: 78%;
    font-size: 2.2rem;
  }

  .notice-box {
    height: 100px;

    .notice-title {
      font-size: 3rem;
    }
  }

  .notice-box {
    height: 100px;

    .notice-title {
      font-size: 3rem;
    }
  }
}

/* 0 ~ 360px : 모바일1 */
@media screen and (max-width: 360px) {
  .notice-slide {
    .notice-image {
      width: 300px;
      height: 280px;
    }
  }
  .right-arrow {
    top: 76%;
    font-size: 1.5rem;
  }

  .left-arrow {
    top: 76%;
    font-size: 1.5rem;
  }
}
