// @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Jua&family=Montserrat&family=Thasadith&display=swap');


//font
$Fredoka-font: 'Fredoka One', cursive;
$Nunito-font: 'Nunito', sans-serif;
$Thasadith-font: 'Thasadith', sans-serif;
$Montserrat-font: 'Montserrat', sans-serif;
$Jua-font: 'Jua', sans-serif;

//background
$bg-color-1: #fdfdfd;
$bg-color-2: #eee5de;
$bg-color-3: #c4a48c;

//main-color
$main-color-1 : #e7dad0;
$main-color-2: #cfac8c;
$main-color-3: #c4a48c;
$main-color-4: #d3a887;
$main-color-5: #cc9A73;
$main-color-6:#c79463;
$main-color-7: #cc8e5e;
$main-color-8: #bb8053;
$main-color-9: #c97f4e;
$main-color-10: #8a614b;
