.footer {
    width: 100%;
    height: 100px;
    background: $bg-color-2;
    
    .container {
        position: relative;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
.footer-title {
    font-size: 1.8rem;
    font-family: $Fredoka-font;
    font-weight: 700;
    letter-spacing: 3px;
    margin-left: 2rem;

    &:hover {
        color: #222;
    }
    
    span {
        font-family: $Fredoka-font;
        color: $main-color-6;
    }
}

.copyright {
    font-size: 1rem;
    color: #222;
    text-align: center;
    margin-left: 30px;

    .footer-year {
        border-bottom: 1px solid #222;
    }

    .footer-wooahan {
        font-family: $Fredoka-font;
        color: $main-color-6;
        margin-right: 3px;
    }
}

.footer-icons {
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;

    .footer-tooltip {
        position: relative;
        background: $bg-color-2;
        margin-right: 30px;
        cursor: pointer;
        outline: none;

        &::before,
        &::after {
            content: "";
            position: absolute;
            background-color: #000;
            height: 20px;
            width: 150px;
            top: 0;
            left: 60%;
            transform: translate(-50%, -100%);
            transition: .3s ease-in transform;
        }

        &::before {
            text-align: center;
            font-size: 14px;
            content: attr(data-tooltips);
            color: #fdfdfd;
            padding: 10px;
            line-height: 20px;
            top: -10px;
            border-radius: 4px;
            transform: translate(-50%, -100%) scale(0);
            transform-origin: bottom;
        }

        &::after{
            height: 10px;
            width: 10px;
            transform: translate(-50%, -150%) rotate(45deg) scale(0);
            transform-origin: top;
        }

        &:hover::before {
            transform: translate(-50%, -100%) scale(1);
        }

        &:hover::after {
            transform: translate(-50%, -150%) rotate(45deg) scale(1);
        }
    }

    .footer-icon-notion {
        position: relative;
        font-size: 1.7rem;
        color: #222;
        cursor: pointer;

        &:hover {
            color: #999;
        }
    }
    
    .footer-icon-idu {
        position: relative;
        width: 30px;
        height: 30px;
        
        background: url("https://wooahan-agile.s3.ap-northeast-2.amazonaws.com/HomePage/induk-icon.png") no-repeat;
        background-size: contain;

        &:hover {
            background: url("https://wooahan-agile.s3.ap-northeast-2.amazonaws.com/HomePage/induk-icon2.png") no-repeat;
            background-size: contain;
        }
    }
}

/* 0 ~ 960 : 테블릿1  */
@media screen and (max-width: 960px) {
    .footer {
        .container {
            width: 90%;
        }
    }
}

/* 0 ~ 768 : 테블릿2  */
@media screen and (max-width: 768px) {
    .footer {
        height: 230px;
        margin-top: 50px;
        .container {
            flex-direction: column;
        }
    }

    .footer-title {
        margin-left: 0;
        margin: 30px 0 20px 0;
    }

    .copyright {
        margin-left: 0;
        margin-bottom: 30px;
    }

    .footer-icons {
        position: static;
        margin-top: 30px;

        .footer-tooltip {
            margin: 0 30px;
            &::before,
            &::after {
                left: 60%;
            }
        }

        .footer-icon-idu,
        .footer-icon-notion {
            margin-right: 0;
        }
    }
}

/* 0 ~ 480 : 모바일1  */
@media screen and (max-width: 480px){ 
    .footer {
        height: 180px;
    }

    .footer-title {
        margin-left: 0;
        margin: 20px 0 10px 0;
        font-size: 1.5rem;
    }

    .copyright {
        font-size: 0.8rem;
    }

    .footer-icons {
        margin-top: 15px;

        .footer-tooltip {
            &::before,
            &::after {
                height: 10px;
                width: 120px;
            }
    
            &::before {
                font-size: 10px;
                line-height: 10px;
            }
    
            &::after{
                height: 10px;
                width: 10px;
                transform: translate(-50%, -150%) rotate(45deg) scale(0);
                transform-origin: top;
            }
        }
    }
}