.header {
  position: fixed;
  width: 100%;
  background: $bg-color-1;
  z-index: 100;
  border-bottom: 1px solid $main-color-1;

  .container {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-title {
  font-family: $Fredoka-font;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin-left: 2rem;
  &:hover {
    color: #222;
  }

  span {
    font-family: $Fredoka-font;
    color: $main-color-2;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  z-index: 999;

  .header-list {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .header-menu {
    position: relative;
    font-family: $Jua-font;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;
    height: 68px;
    width: 170px;
    font-size: 1.2rem;
    cursor: pointer;

    p {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    svg {
      margin-right: 20px;
    }

    &:hover {
      svg {
        color: $main-color-7;
      }
      &::before {
        position: absolute;
        bottom: -1px;
        left: 38%;
        transform: translateX(-50%);
        content: "";
        height: 3px;
        width: 170px;
        background-color: $main-color-7;
      }
    }
  }

  .header-menu-drop {
    position: absolute;
    width: 100%;
    top: 68px;
    left: -20px;
    z-index: 10;
    text-align: center;
    overflow: hidden;

    li {
      background: rgb(233, 212, 194);
      height: 55px;
      border-bottom: 1px solid $main-color-7;
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
        border-top: 1px solid $main-color-7;
      }

      a {
        font-family: $Jua-font;
        font-size: 1.2rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        font-weight: 400;
        &:hover {
          color: $main-color-7;
        }
      }
    }
  }
}

.profile-icon-box {
  width: 40px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid $main-color-5;
  margin: 0 5px;
  &:hover {
    transform: scale(1.1);
  }
}

.header-btn {
  color: #cfac8c;
  font-family: $Jua-font;
  margin: 0 20px;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 1.2rem;
  white-space: nowrap;
  &:hover {
    color: $main-color-6;
  }
}

.menuToggle {
  display: none;
  padding: 20px;
  cursor: pointer;

  .outline-close {
    &:hover {
      transform: rotate(45deg);
    }
  }
}

/* 0 ~ 1550 : 데스크탑1  */
@media screen and (max-width: 1550px) {
}

/* 0 ~ 1220 : 데스크탑2  */
@media screen and (max-width: 1220px) {
  .header-nav {
    display: none;

    .header-menu-drop li {
      //   height: 40px;
    }
  }

  .menuToggle {
    display: flex;
    font-size: 1.5rem;
  }

  .header-nav.active {
    width: 38%;
    height: 100%;
    position: fixed;
    top: 65px;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(241, 241, 241, 0.97);
    z-index: 100;

    .header-menu {
      width: 80%;
      height: 100%;
      margin: 0 0 40px 0;
      padding: 5px;
      font-size: 1.4rem;
      flex-direction: column;

      svg {
        display: none;
      }
      li {
        height: 42px;
      }

      a {
        &:hover {
          color: $main-color-7;
        }
      }
      &:hover {
        color: $main-color-7;

        &::before {
          width: 0;
        }
      }
    }

    .header-menu-drop {
      position: static;
      margin: 0 auto;
      margin-top: 15px;

      &.none {
        height: 0;
        margin: 0;
      }
    }
  }

  .header-nav.active .header-list {
    display: flex;
    flex-direction: column;
  }

  .header-btn {
    border: 2px solid $main-color-2;
    text-align: center;
    width: 50%;
    margin: 15px 0;
    font-size: 1.2rem;

    &:hover {
      background-color: $main-color-2;
      color: #fff;
    }
  }

  .profile-icon-box {
    margin: 20px 0;
    width: 30px;
    height: 30px;
  }
}

/* 0 ~ 1024 : 데스크탑3  */
@media screen and (max-width: 1024px) {
}

/* 0 ~ 960 : 테블릿1  */
@media screen and (max-width: 960px) {
  .header-nav.active {
    .header-menu {
      width: 75%;
    }
  }
}

/* 0 ~ 768px : 테블릿2 */
@media screen and (max-width: 768px) {
}

/* 0 ~ 670px : 테블릿3 */
@media screen and (max-width: 670px) {
  .header-nav.active {
    width: 60%;

    .header-menu {
      & > a {
        padding: 5px 20px;
      }
      &:hover {
        color: $main-color-2;
      }
    }

    .header-menu-drop {
      margin: 10px auto;
    }
  }
  .header-btn {
    width: 70%;
  }
}

/* 0 ~ 480px : 모바일1 */
@media screen and (max-width: 480px) {
  .header-nav.active {
    width: 100%;

    .header-menu {
      width: 65%;
    }
  }

  .header-nav {
    .header-menu-drop {
      li {
        height: 45px;
      }
    }
  }

  .header-btn {
    width: 50%;
  }
}

/* 0 ~ 360px : 모바일1 */
@media screen and (max-width: 360px) {
  .header-nav.active {
    width: 100%;

    .header-menu {
      width: 80%;
    }
  }
  .header-btn {
    width: 65%;
  }
}
