.header-notification {
  position: relative;
}

.notification-icon {
  font-size: 2.2rem;
  margin-right: 40px;
  cursor: pointer;
  border: 2px solid #222;
  border-radius: 50%;
  padding: 5px;

  &.focus {
    background-color: $main-color-1;
    border: 2px solid $main-color-2;
    color: $main-color-9;
  }
}

.notification-ul {
  position: absolute;
  top: 60px;
  right: 50%;
  transform: translateX(50%);
  width: 280px;
  max-height: 400px;
  border: 1px solid #999;
  z-index: 200;
  overflow-y: scroll;
  box-shadow: 5px 5px 5px rgb(211, 211, 211);
  border-radius: 8px;
}

.notification-li {
  font-family: $Thasadith-font;
  background-color: $bg-color-2;
  padding: 20px;
  border-bottom: 1px solid rgb(153, 152, 152);

  &.nowatch {
    background-color: #fdfdfd;
    border-bottom: 1px solid rgb(153, 152, 152);
  }

  &:nth-child(1) {
    border-bottom: none;
  }

  &:nth-child(2) {
    border-top: 1px solid rgb(153, 152, 152);
  }

  &:hover {
    font-weight: bold;
  }

  a {
    padding: 20px 20px 20px 20px;
  }
}

@media screen and (max-width: 1220px) { 
  .notification-icon {
    margin-right: 0;
    margin: 10px 0;
  }
  .notification-ul { 
    height: 200px;
    top: 55px;
  }
}